%section{:id => 'home'}
  .slideshow
    .slides
      - unless @album.nil?
        - @album.images.each do |image|
          %img{:src => image.image.url(:large), :alt => image.id}
    .tag
      %img{:src => '/assets/build_the_world.png', :alt => 'build_the_world'}
    .nav
      %a{:href => '#prev', :class => 'prev'} <
      %a{:href => '#next', :class => 'next'} >
  %h2.slogan We have a passion for creating new and unique spaces
  .container
    .sidebar
      %img{:src => '/assets/man_on_phone.png', :alt => 'man_on_phone'}
      - unless @sidebar_blurb.nil?
        %h3= @sidebar_blurb.title
        %h4= @sidebar_blurb.subtitle
        = simple_format(@sidebar_blurb.content)
    .content
      .top
        .left
          - unless @top_left_blurb.nil?
            %h2= @top_left_blurb.title
            %h3= @top_left_blurb.subtitle
            %p= @top_left_blurb.content
        .middle
          - unless @top_middle_list.nil?
            %h2= @top_middle_list.title
            %ul
              - @top_middle_list.bullets.asc(:index).each do |bullet|
                %li= bullet.content
        .right
          .posts
            - @posts.each do |post|
              .post
                %h3.date
                  %span.day= post.created_at.day
                  %span.month= post.created_at.strftime("%b")
                %h3= post.title
                %p= post.content
            .nav
              %a{:href => '#prev', :class => 'prev'} <
              %a{:href => '#next', :class => 'next'} >
      .bottom
        .left
          - unless @bottom_left_blurb.nil?
            %h2= @bottom_left_blurb.title
            %img{:src => @bottom_left_blurb.image.url, :alt => @bottom_left_blurb.title}
            %h3= @bottom_left_blurb.subtitle
            %p= @bottom_left_blurb.content
        .middle
          - unless @bottom_middle_blurb.nil?
            %h2= @bottom_middle_blurb.title
            %img{:src => @bottom_middle_blurb.image.url, :alt => @bottom_middle_blurb.title}
            %h3= @bottom_middle_blurb.subtitle
            %p= @bottom_middle_blurb.content
        .right
          - unless @bottom_right_blurb.nil?
            %h2= @bottom_right_blurb.title
            %img{:src => @bottom_right_blurb.image.url, :alt => @bottom_right_blurb.title}
            %h3= @bottom_right_blurb.subtitle
            %p= @bottom_right_blurb.content