%section{:id => 'about'}
  .left
    - unless @left_blurb_top.nil?
      %h2= @left_blurb_top.title
      %p
        %span.bold= @left_blurb_top.subtitle
      %div= raw @left_blurb_top.content
    - unless @left_blurb_bottom.nil?
      %h2= @left_blurb_bottom.title
      %p
        %span.bold= @left_blurb_bottom.subtitle
      %div= raw @left_blurb_bottom.content
  .right
    = image_tag 'family.png'