%section{:id => 'contact'}
  .top
    - unless @top_blurb.nil?
      %h2= @top_blurb.title
      %div= raw @top_blurb.content
  .left
    %h2 Our Team
    .our_team
      - @employees.each do |employee|
        .employee
          %p
            = employee.name
            - if employee.title
              %br
              = employee.title
            - if employee.subtitle
              %br
              = employee.subtitle
          %dl
            - employee.phones.each do |phone|
              %dt= phone.type
              %dd= phone.number
            %dt Email
            %dd= employee.email
            - employee.urls.each do |url|
              %dt= url.name
              %dd
                = link_to url.url
    %h2 Contact Info
    .contact_info
      - unless @map.nil?
        %a{:href => URI::escape("http://maps.google.com/maps?q=#{@map.center}")}
          %img{:src => URI::escape("http://maps.googleapis.com/maps/api/staticmap?center=#{@map.center}&zoom=#{@map.zoom}&size=380x380&markers=#{@map.center}&sensor=false")}
      %p
        %a{:href => 'http://maps.google.com/maps?q=2330+Muirfield+Place,+Columbus,+Nebraska'}
          %span.bold 2330 Muirfield Place
        %br
        %a{:href => 'http://maps.google.com/maps?q=2330+Muirfield+Place,+Columbus,+Nebraska'}
          %span.bold Columbus, NE 68601
        %br
        Phone: (402) 202-6527
        %br
        E-mail: 
        %a{:href => 'mailto:scott@sshomesincorporated.com'} scott@sshomesincorporated.com
        %a{:href => 'mailto:billing@sshomesincorporated.com'} billing@sshomesincorporated.com
  .right
    %h2 Get In Touch
    = render :partial => 'shared/error', :locals => {:object => @contact}
    = form_for :contact, :url => contact_path do |f|
      %div
        = f.text_field :name, :placeholder => 'Name:', :required => true
      %div
        = f.email_field :email, :placeholder => 'Email:', :required => true
      %div
        = f.phone_field :phone, :placeholder => 'Phone:', :required => true
      %div
        = f.text_area :message, :rows => 12, :placeholder => 'Message:', :required => true
      %div
        = f.submit 'Send'