%section{:id => 'contact'}
  .top
    - unless @top_blurb.nil?
      %h2= @top_blurb.title
      %div= raw @top_blurb.content
  .left
    %h2 Our Team
    .our_team
      - @employees.each do |employee|
        .employee
          %p
            = employee.name
            - if employee.title
              %br
              = employee.title
            - if employee.subtitle
              %br
              = employee.subtitle
          %dl
            - employee.phones.each do |phone|
              %dt= phone.type
              %dd= phone.number
            %dt Email
            %dd= employee.email
            - employee.urls.each do |url|
              %dt= url.name
              %dd
                = link_to url.url
    %h2 Contact Info
    .contact_info
      - unless @map.nil?
        %a{:href => URI::escape("http://maps.google.com/maps?q=#{@map.center}")}
          %img{:src => URI::escape("http://maps.googleapis.com/maps/api/staticmap?center=#{@map.center}&zoom=#{@map.zoom}&size=380x380&markers=#{@map.center}&sensor=false")}
      %p
        %a{:href => 'http://maps.google.com/maps?q=2330+Muirfield+Place,+Columbus,+Nebraska'}
          %span.bold 2330 Muirfield Place
        %br
        %a{:href => 'http://maps.google.com/maps?q=2330+Muirfield+Place,+Columbus,+Nebraska'}
          %span.bold Columbus, NE 68601
        %br
        Phone: (402) 202-6527
        %br
        E-mail: 
        %a{:href => 'mailto:scott@sshomesincorporated.com'} scott@sshomesincorporated.com
        %br
        Billing:
        %a{:href => 'mailto:billing@sshomesincorporated.com'} billing@sshomesincorporated.com
  .right
    %h2 Get In Touch
    / Begin Contact Form
    :javascript
      window.jQuery || document.write('<script src="//code.jquery.com/jquery-1.8.0.min.js"><\/script>')
    :javascript
      var btDomain = "http://www.buildertrend.net";
    %script{src: "http://www.buildertrend.net/leads/contactforms/js/btLeadsContactFormClient.js", type: "text/javascript"}
    %iframe#btLeadsContactiFrame{src: "http://www.buildertrend.net/leads/contactforms/leadGenerator.aspx?builderID=3232&theme=a&url=http://www.sshomesincorporated.com/contact", style: "width:400px;height:400px;border:0;background:transparent;"}
    / End Contact Form