%section{:id => 'contact'}
  .left
    %h2 Contact Info
    %a{:href => 'http://maps.google.com/maps?q=2320+S.+48th+Street,+Lincoln,+Nebraska'}
      %img{:src => 'http://maps.googleapis.com/maps/api/staticmap?center=2320+S.+48th+Street,+Lincoln,+Nebraska&zoom=13&size=380x380&markers=2320+S.+48th+Street,+Lincoln,+Nebraska&sensor=false'}
    %p
      %a{:href => 'http://maps.google.com/maps?q=2320+S.+48th+Street,+Lincoln,+Nebraska'}
        %span.bold 2320 S. 48th Street 
      %br
      %a{:href => 'http://maps.google.com/maps?q=2320+S.+48th+Street,+Lincoln,+Nebraska'}
        %span.bold Lincoln, NE 68506
      %br
      Phone: (402) 202-6527
      %br
      E-mail: 
      %a{:href => 'mailto:info@sshomesincorporated.com'} info@sshomesincorporated.com
  .right
    %h2 Get In Touch
    = render :partial => 'shared/error', :locals => {:object => @contact}
    = form_for :contact, :url => contact_path do |f|
      %div
        = f.text_field :name, :placeholder => 'Name:', :required => true
      %div
        = f.email_field :email, :placeholder => 'Email:', :required => true
      %div
        = f.phone_field :phone, :placeholder => 'Phone:', :required => true
      %div
        = f.text_area :message, :rows => 12, :placeholder => 'Message:', :required => true
      %div
        = f.submit 'Send'